/*
  Code Weekend materials.
*/

button[type="submit"] {
  background: #86b32d;
  border-bottom: 1px solid #5d7d1f;
}

button:hover {
  opacity: 0.75;
  cursor: pointer;
}

.btn, .btn-large {
  background-color: #524e41 !important;
}

#logo {
  margin-top: 10px;
}

